.AddArticleButton {
    box-shadow: 3px 3px #c9d2db;
    background-color:rgb(110, 127, 143) ;
}

.Header {
    box-shadow: 3px 3px #ccc;
    border-radius: 5px;
    padding: 12px 0px 0px 12px;
}

.ShowArticlesButton {
    box-shadow: 3px 3px #547393;
}
.MyArticlesButton {
    background-color:rgb(110, 127, 143) ;
    color: #ccc;
    box-shadow: 3px 3px #c9d2db;
}